<main class="public_customer_edit_main">
  <h2>会員情報編集画面</h2>
  <%= form_with model: @customer,url: customers_path, local: true do |f| %>
  <table>
    <tr>
      <td>氏名</td>
      <td></td>
      <td><%= f.text_field :last_name %></td>
      <td></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td></td>
      <td><%= f.text_field :last_name_kana %></td>
      <td></td>
      <td><%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td></td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td></td>
      <td colspan="3"><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td></td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="2"><%= f.submit '編集内容を保存' %></td>
      <td></td>
      <td><%= link_to "退会する", customers_unsubscribe_path %></td>
    </tr>
  </table>
  <% end %>
</main>