<main class="public_customer_sign_in_main">
  <h3>ログイン</h3>
</main>
<div class="public_customer_sign_in_main_from">
  <h4>会員の方こちらからログイン</h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <% end %>
  <div class="public_customer_sign_in_main_sign_up_nav>">
    <h4>会員登録がお済みでない方</h4>
    <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
  </div>
</div>

