<% if customer_signed_in? %>
  <header class="header">
    <div class="header_logo">
      <h1>ながのCAKE</h1>
    </div>
    <diuv class="header_nav">
      <ul>
        <li><%= link_to "マイページ", customers_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "カート", cart_items_path %></li>
        <li>ログアウト</li>
      </ul>
    </diuv>
  </header>
  <% else %>
  <header class="header">
    <div class="header_logo">
      <h1>ながのCAKE</h1>
    </div>
    <diuv class="header_nav">
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "新規登録", new_customer_registration_path %></li>
        <li>ログイン</li>
      </ul>
    </diuv>
  </header>
  <% end %>