<main class="item_main_index">
  <div class="item_main_index_h3">
    <h3>商品一覧</h3>
  </div>
  <div class="item_main_index_table">
    <table>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <% @items.each do |item| %>
        <td><%= item.id %></td>
        <td><%= link_to 'item.name', item_path(:id) %></td>
        <td><%= item.price %></td>
        <td><%= @genres.name %></td>
        <td><%= item.is_active %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <%= paginate @items %>
</main>