<main class="public_orders_main">
  <div class="public_orders_title">
    <h3>注文履歴一覧</h3>
  </div>
  <div class="public_orders_table">
    <table>
      <tr>
        <td>注文日</td>
        <td>配送先</td>
        <td>注文商品</td>
        <td>支払い金額</td>
        <td>注文詳細</td>
      </tr>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td>
          <%= order.postal_code %>
          <%= order.address %>
        </td>
        <td>
          <% order.order_details.each do |detail| %>
          <%= detail.item.name %>
          <% end %>
        </td>
        <td><%= order.total_payment %></td>
        <td><%= link_to "表示する", order_path(order) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</main>